body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 100%;
    background-color: #e0e0e0;
}

body {
    display: flex;
    flex-direction: column;
}

#contact-main {
    background-image: url('/./images/45BFCD52-E04D-4D5B-8483-4C64FE4169FC.webp');
    background-size: cover; /* Arka plan resminin kapsaması için */
    background-repeat: no-repeat; /* Tekrar etmemesi için */
    background-position: center; /* Orta konumlandırma için */
}

main {
    flex: 1;
    background-color: #e1e0e0;
}

#logo-nav {
    font-weight: 500;
    font-size: 1.3rem;
}

.header .navbar #nav-item {
    transition: transform 0.3s ease;
}

.header .navbar #nav-item:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.about-text {
    text-align: justify;
}

#about-image, #contact-image {
    width: 370px;
    height: 370px;
    border-radius: 10px;
}

.carousel-control-prev {
    position: absolute; 
    left: -40px; 
    color: black;
}

.carousel-control-next {
    position: absolute; 
    right: -40px; 
    color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* This makes the icons dark */
}

#full-stack {
    font-size: 1.2rem;
}

.projects-title, 
.skills-title, 
.contacts-title {
    font-size: 2.5rem;
}



.home-icons *{
    font-size: 2rem;
    color:#615f5f;
}

#skills i {
    font-size: 1.6rem;
    color:#615f5f;
}

a {
    color:#c0c0c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Stilleri */
footer {
    padding: 20px 0;
    background-color: #c0c0c0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Contact Page */
#contact-page {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #contact-page .contact-icons {
    font-size: 1.2rem;
    color:#615f5f;
  }
  
  #contact-page .item1 {
    padding: 10px 0;
  }
  
  #contact-page .item1 strong {
    min-width: 100px;
    display: inline-block;
  }
  
  #contact-page a {
    color: #007bff;
  }
  
  #contact-page a:hover {
    text-decoration: underline;
  }
  
  #contact-page .main-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

/* Media Queries */
@media screen and (max-width: 900px) {
    #skills {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

    #skills i {
      margin-bottom: 20px;
    }
  }