body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 100%;
    background-color: #e0e0e0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #e1e0e0;
}

#contact-main {
    background-image: url('/images/45BFCD52-E04D-4D5B-8483-4C64FE4169FC.webp');
}

#logo {
    font-weight: 500;
    font-size: 1.3rem;
}

.header .navbar #nav-item {
    transition: transform 0.3s ease;
}

.header .navbar #nav-item:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.about-text {
    text-align: justify;
}

#about-image, #contact-image {
    width: 370px;
    height: 370px;
    border-radius: 10px;
}

.carousel-control-prev {
    position: absolute; 
    left: -40px; 
    color: black;
}

.carousel-control-next {
    position: absolute; 
    right: -40px; 
    color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* This makes the icons dark */
}

#full-stack {
    font-size: 1.2rem;
}

.projects-title, 
.skills-title, 
.contacts-title {
    font-size: 2.5rem;
}



.home-icons *{
    font-size: 2rem;
    color:#615f5f;
}

#skills i {
    font-size: 1.6rem;
    color:#615f5f;
}

a {
    color:#c0c0c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Stilleri */
footer {
    padding: 20px 0;
    background-color: #c0c0c0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Contact Page */
#contact-page {
    height: 50vh;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.298);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.144);
}

.contact-icons {
    font-size: 1.2rem;
    color:#615f5f;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    #skills {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

    #skills i {
      margin-bottom: 20px;
    }

    #contact-page {
        height: 75vh;
        padding-left: 20px;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.298);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.144);
    }
  }